<div class="mb-8 text-center">
<h2 class="text-center my-5">カート</h2>
</div>

  <div class='mx-auto max-w-3xl'>
    <p class='mb-8 text-xl text-center'>商品がカートに入っていません。</p>
    <div class='text-center mt-5'>
      <%= link_to '商品一覧へ', items_path, class: 'btn btn-primary' %>
    </div>
  </div>

